<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $work := ".work"}}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ absURL `/styles/style.css` }}"
/>

<div class="top">
  <title>
    {{ if .IsHome }} home.work {{ else if eq .Page.Title "Posts" }}
    posts{{$work}} {{ else if eq .Page.Title "Projects"}} projects{{$work}} {{
    else if eq .Page.Title "Tags" }} tags{{$work}} {{ end }}
  </title>

  <div class="blog-name">
    <strong> kacper's work </strong>
  </div>
  <hr class="divider" />
  <nav class="navbar">
    <a href="/">home</a>
    <a href="/posts">posts</a>
    <a href="/projects">projects</a>
    <a href="/tags">tags</a>
  </nav>
</div>
