{{ define "main"}}
<div class="middle">
  <h2 class="intro">
    Hey there 👋 <br />
    I am Kacper (pronounced "Casper").<br /><br />
    A software engineer working as a consultant at a cybersecurity-focused
    company, where I collaborate with external clients and contribute to
    internal R&D projects.
  </h2>
  <p class="details">
    A bit more detail, I'm a software engineer and consultant with a talent for
    building MVPs, sweeeeeeet talk legacy systems back to life (yes, I read old
    code including my own 🥶), wrangling and stitching APIs until they behave as
    expected, taming Docker containers, refreshing existing workflows with AI -
    all while translating tech jargon into plain English for clients.
  </p>
  <p class="details">
    Whether it is Python <img class="lang-icons" src="/img/python-logo.svg" />,
    TypeScript <img class="lang-icons" src="/img/typescript-logo.svg" />, GoLang
    <img class="lang-icons" src="/img/golang-logo.svg" />
    or good old-fashioned people skills 🤝, I bring the adaptability and
    versatility honed through my time in consulting. That experience made me
    highly adaptable, a little scrappy, and — more importantly — endlessly eager
    to learn. I ask the right questions, value collaboration, and believe you
    can learn something from anyone, regardless of their title or background.
  </p>
</div>
{{ end }}
