{{ define "main"}}
<h2>
  A short piece about what the point of the blog is who I am and my expertise.
</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate
  libero erat, vel iaculis arcu laoreet non. Aenean ac sem nisi. Aenean ut
  scelerisque est. Donec elit quam, semper et feugiat ut, gravida a nisl.
  Suspendisse feugiat molestie placerat. Ut quis tortor quis sapien consequat
  ultrices in sed elit. Phasellus varius ultrices metus et elementum.
  Pellentesque ut nisi non libero ullamcorper fermentum. Mauris id ipsum
  pulvinar, finibus quam at, condimentum sapien. Fusce scelerisque fringilla
  blandit. Cras tincidunt gravida ipsum tincidunt viverra.
</p>
{{ end }}
